<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.xinyisoft.push">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--推送服务-->
        <service android:name="cn.xinyisoft.push.XinyiSocketService"/>

        <!--网络变化广播-->
        <receiver
            android:name=".NetWorkChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
