<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.xinyisoft.xypush">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--接收推送信息广播-->
        <receiver android:name=".PushReceiver">
            <intent-filter>
                <action android:name="cn.xinyisoft.push"/>
            </intent-filter>
        </receiver>

        <!--芯易APPID-->
        <meta-data
            android:name="XINYI_APPID"
            android:value="100"/>
        <!--芯易SECRET-->
        <meta-data
            android:name="XINYI_SECRET"
            android:value="ec78d6bcb3b46dab009d9e0b220c8180"/>

        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100260504"/>
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A76X15JLZ2CA"/>
    </application>
</manifest>